.container img {
    width: 300px;
    height: 300px;
}

.container {
    margin: 10px;
    background-color: #ececec;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20px 20px 20px gray;
}
.container h3 {
    color: #696969;
    margin: 30px 20px 30px;
}

.container p {
    margin: 0px 25px 20px;
    background-color: green;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: honeydew;
}

.counter {
    display: flex;
    align-items: center;
    border-top: 1px silver solid;

}

.counter img {
    width: 20px;
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.counter span {
    background-color: steelblue;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.deactive {
    opacity: 0.3;
}